:root {
    --bg: #f9f9f9;
    --bb: #2FAAFF;
    --bc: #0094FB;
    --mc: #007CFB;
    --dc: #0054D1;
    --db: #003D7D;
    --sc: #222222;
}

* {
    outline: 1px solid red;
}


.header .top_bar {
    background: var(--dc);
    color: var(--bg);
    height: 100px;
    overflow: hidden;
    transition: 0.5s;
}

.header .top_bar.on {
    height: 0;
}


.header .top_bar .banner {
    display: flex;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
}

.header .top_bar .banner li {
    display: flex;
    align-self: center;
    align-items: center;
}

.header .top_bar .banner li~li {
    position: relative;
}

.header .top_bar .banner li~li::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    margin: 0 0 0 -45px;
    height: 75px;
    width: 1px;
    background: var(--mc);
}

.header .top_bar ._call01 {
    font-size: 40px;
    background: var(--bb);
    padding: 12px;
    border-radius: 50%;
    margin: 0 24px 0 0;
}

.header .top_bar ._call02 {
    font-size: 40px;
    background: var(--mc);
    padding: 12px;
    border-radius: 50%;
    margin: 0 24px 0 0;
}

.header .top_bar strong {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 0 8px 0 0;
}

.header .top_bar strong a {
    font-size: 28px;
    font-weight: 800;
}

.header .top_bar .close {
    align-self: end;
    padding: 0 0 8px 0;
}

.header .top_bar .close span {
    background: var(--db);
    border-radius: 50%;
    vertical-align: -6px;
    margin: 0 0 0 4px;
}

.header .logo_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header .logo_area .right {
    display: flex;
    align-items: center;
}

.header .gnb ul {
    display: flex;
    gap: 24px;
    font-size: 20px;
    margin: 0 36px 0 0;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li::after {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 3px solid var(--mc);
}

.header .gnb>ul>li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.header .gnb ul li a {
    display: block;
    line-height: 4.6;
}

.header .login_area {
    display: flex;
    gap: 12px;

}

.side {
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 999;
    color: var(--bg);
}

.side li {
    background: rgba(0, 84, 209, 0.8);
    padding: 20px 16px;
    margin: 0 0 16px 0;
    border-radius: 0 50px 50px 0;
}

.side .hide {
    background: rgba(22, 22, 22, 0.7);
    margin: 0;
    overflow: hidden;
    transform: translate(-50%, 0);
    transition: 0.5s;
}

.side .hide:hover {
    background: rgba(0, 84, 209, 0.8);
    transform: translate(0, 0);
}

.side li a {
    display: flex;
    align-items: center;
    text-align: center;
}

.side li a strong {
    font-size: 20px;
    margin: 0 12px 0 0;
}

.side li a span {
    font-size: 40px;
}

.main_visual {
    position: relative;
    overflow: hidden;
    height: 700px;
    background: url(../images/main.jpg) no-repeat center center/cover;
}

.main_visual .tit {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    color: var(--bg);
}

.main_visual .tit h2 {
    font-size: 80px;
    font-weight: 800;
    margin: 0 0 16px 0;
}

.main_visual .tit p {
    font-size: 28px;
}

.main_visual .content .quick {
    position: absolute;
    display: flex;
    bottom: 20%;
    width: 1170px;
    height: 100px;
    box-shadow: 0 4px 5px #0000006e;
    z-index: 1;
}

.main_visual .content .quick>* {
    flex: 1;
}

.main_visual .content .quick li {
    display: flex;
    color: var(--bg);
    font-size: 28px;
    padding: 30px 20px;
    align-items: center;
}

.main_visual .content .quick li:nth-child(1) {
    background: var(--bb);
}

.main_visual .content .quick li:nth-child(2) {
    background: var(--bc);
}

.main_visual .content .quick li:nth-child(3) {
    background: var(--mc);
}

.main_visual .content .quick li:nth-child(4) {
    background: var(--dc);
}

.main_visual .content .quick li:nth-child(5) {
    background: var(--db);
}

.main_visual .content .quick li a {
    display: flex;
    gap: 40px;
    align-items: center;
}

.main_visual .content .quick li>a>span {
    font-size: 36px;
}

.main_slide {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--db);
    width: 100%;
    height: 165px;
}

.quick_slide {
    position: relative;
}

.quick_slide .itm {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    color: var(--bg);
    padding: 57px 20px;
}

.quick_slide .itm>* {
    flex: 1;
}

.quick_slide .itm .box a {
    display: flex;
}

.quick_slide .itm .box span {
    color: var(--bb);
    font-size: 70px;
    margin: 0 24px 0 0;
}

.quick_slide .itm .box .txt {
    line-height: 20px;
}

.quick_slide .itm .box .txt strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.quick_slide .itm .box .txt p {
    font-weight: 400;
}

.main_slide .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 57%;
    left: 50%;
    width: 1300px;
    transform: translate(-50%, -50%);
    color: var(--bg);
    cursor: pointer;
}

.main_slide .arrows span {
    font-size: 50px;
}