:root {
    --bg: #f9f9f9;
    --bb: #2FAAFF;
    --bc: #0094FB;
    --mc: #007CFB;
    --dc: #0054D1;
    --db: #003D7D;
    --sc: #222222;
}



.header .top_bar {
    background: var(--dc);
    color: var(--bg);
    height: 100px;
    overflow: hidden;
    transition: 0.5s;
}

.header .top_bar.on {
    height: 0;
}


.header .top_bar .banner {
    display: flex;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
}

.header .top_bar .banner li {
    display: flex;
    align-self: center;
    align-items: center;
}

.header .top_bar .banner li~li {
    position: relative;
}

.header .top_bar .banner li~li::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    margin: 0 0 0 -45px;
    height: 75px;
    width: 1px;
    background: var(--mc);
}

.header .top_bar ._call01 {
    font-size: 40px;
    background: var(--bb);
    padding: 12px;
    border-radius: 50%;
    margin: 0 24px 0 0;
}

.header .top_bar ._call02 {
    font-size: 40px;
    background: var(--mc);
    padding: 12px;
    border-radius: 50%;
    margin: 0 24px 0 0;
}

.header .top_bar strong {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 0 8px 0 0;
}

.header .top_bar strong a {
    font-size: 28px;
    font-weight: 800;
}

.header .top_bar .close {
    align-self: end;
    padding: 0 0 8px 0;
}

.header .top_bar .close span {
    background: var(--db);
    border-radius: 50%;
    vertical-align: -6px;
    margin: 0 0 0 4px;
}

.header .logo_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header .logo_area .right {
    display: flex;
    align-items: center;
}

.header .gnb ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    margin: 0 36px 0 0;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li::after {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 3px solid var(--mc);
}

.header .gnb>ul>li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.header .gnb ul li a {
    display: block;
    line-height: 5;
}

.header .login_area {
    display: flex;
    gap: 12px;

}

.side {
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 999;
    color: var(--bg);
}

.side li {
    background: rgba(0, 84, 209, 0.9);
    padding: 24px 12px;
    margin: 0 0 16px 0;
    border-radius: 0 55px 55px 0;
}

.side .hide {
    background: rgba(22, 22, 22, 0.7);
    margin: 0;
    overflow: hidden;
    transform: translate(-52%, 0);
    transition: 0.5s;
}

.side .hide:hover {
    background: rgba(0, 84, 209, 0.9);
    transform: translate(0, 0);
}

.side li a {
    display: flex;
    align-items: center;
    text-align: center;
}

.side li a strong {
    font-size: 20px;
    margin: 0 4px 0 0;
}

.side li a span {
    font-size: 40px;
    margin: 0 8px 0 0;
}

/* .mobile_btn {
    display: none;
} */

.main_visual {
    position: relative;
    overflow: hidden;
    height: 700px;
    background: url(../images/main.jpg) no-repeat center center/cover;
}

.main_visual .tit {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    color: var(--bg);
}

.main_visual .tit h2 {
    font-size: 80px;
    font-weight: 800;
    margin: 0 0 16px 0;
}

.main_visual .tit p {
    font-size: 28px;
}

.main_visual .content .quick {
    position: absolute;
    display: flex;
    bottom: 20%;
    width: 1170px;
    height: 130px;
    box-shadow: 0 4px 5px rgba(22, 22, 22, 0.3);
    z-index: 1;
}

.main_visual .content .quick>* {
    flex: 1;
}

.main_visual .content .quick li {
    display: flex;
    color: var(--bg);
    font-size: 24px;
    padding: 30px 24px;
    align-items: center;
    height: 100px;
    align-self: flex-end;

}

.main_visual .content .quick li:nth-child(1) {
    background: var(--bb);
    transition: 0.5s;
}

.main_visual .content .quick li:nth-child(1):hover {
    height: 100%;
}

.main_visual .content .quick li:nth-child(2) {
    background: var(--bc);
    transition: 0.5s;
}

.main_visual .content .quick li:nth-child(2):hover {
    height: 100%;
}

.main_visual .content .quick li:nth-child(3) {
    background: var(--mc);
    transition: 0.5s;
}

.main_visual .content .quick li:nth-child(3):hover {
    height: 100%;
}

.main_visual .content .quick li:nth-child(4) {
    background: var(--dc);
    transition: 0.5s;
}

.main_visual .content .quick li:nth-child(4):hover {
    height: 100%;
}

.main_visual .content .quick li:nth-child(5) {
    background: var(--db);
    transition: 0.5s;
}

.main_visual .content .quick li:nth-child(5):hover {
    height: 100%;
}

.main_visual .content .quick li a {
    display: flex;
    gap: 40px;
    align-items: center;

}

.main_visual .content .quick li>a>span {
    font-size: 36px;
    line-height: 70px;
}

.main_slide {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--db);
    width: 100%;
    height: 165px;
}

.quick_slide {
    position: relative;
    z-index: 1;
}

.quick_slide .itm {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    color: var(--bg);
    padding: 57px 20px;
}

.quick_slide .itm>* {
    flex: 1;
}

.quick_slide .itm .box a {
    display: flex;
}

.quick_slide .itm .box span {
    color: var(--bb);
    font-size: 70px;
    margin: 0 24px 0 0;
}

.quick_slide .itm .box .txt {
    line-height: 20px;
}

.quick_slide .itm .box .txt strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.quick_slide .itm .box .txt p {
    font-weight: 400;
}

.main_slide .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 57%;
    left: 50%;
    width: 1300px;
    transform: translate(-50%, -50%);
    color: var(--bg);
    cursor: pointer;
}

.main_slide .arrows span {
    font-size: 50px;
}

.main_content .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.main_content .itm .img_box {
    padding: 12px 12px 72px 12px;
    width: 100%;
    height: 100%;
}

.main_content .itm .img_box figure {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.main_content .itm .img_box img {
    width: 100%;
    transition: 0.3s;
}

.main_content .itm:hover .img_box img {
    transform: scale(1.1);
}

.main_content .itm .img_box .txt {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    padding: 0 8px;
}

.main_content .itm .w_b .txt {
    position: relative;
}

.main_content .itm .w_b .txt::before {
    content: "";
    position: absolute;
    bottom: -65%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 64px;
    background: var(--sc);
}

.main_content .itm .w_b .txt::after {
    content: "";
    position: absolute;
    bottom: -54%;
    right: 36%;
    transform: rotate(38deg);
    height: 1px;
    width: 20px;
    background: #000;
}

.main_content .itm .b_b .txt {
    position: relative;
}

.main_content .itm .b_b .txt::before {
    content: "";
    position: absolute;
    bottom: -65%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 64px;
    background: var(--bg);
}

.main_content .itm .b_b .txt::after {
    content: "";
    position: absolute;
    bottom: -54%;
    right: 36%;
    transform: rotate(38deg);
    height: 1px;
    width: 20px;
    background: #fff;
}

.main_content .itm .img_box .txt strong {
    font-weight: 600;
}

.main_content .itm .w_b {
    background: #fff;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.2);
}

.main_content .itm ._p strong {
    color: var(--mc);
}

.main_content .itm .b_b {
    background: var(--dc);
    color: var(--bg);
}

.main_content .itm .m_c {
    background: var(--mc);
    color: var(--bg);
}

.main_notice {
    background: var(--bg);
}

.main_notice .content {
    display: flex;
    gap: 30px;
}

.main_notice .content>* {
    flex: 1;
}

.main_notice .content .left {
    display: flex;
    flex-direction: column;
}

.main_notice .content .left .tab .news {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid var(--db);
    margin: 0 0 8px 0;
}

.main_notice .content .left .tab .news>* {
    flex: 1;
}

.main_notice .content .news li~li {
    border-left: 1px solid var(--db);
}

.main_notice .content .news li a {
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    background: #fff;
    color: var(--db);
}

.main_notice .content .news li.on a {
    background: var(--db);
    color: var(--bg);
}

.main_notice .content .ntc {
    background: #fff;
}

.main_notice .content .ntc .list {
    margin: 30px 16px 16px 16px;
}


.main_notice .content .ntc .itm {
    display: flex;
    flex-direction: column;
}

.main_notice .content .ntc .itm .txt {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 12px 4px;
    margin: 0 0 4px 0;
    border-bottom: 1px solid #ddd;
}

.main_notice .content .ntc .itm .txt::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -1px;
    transform: translate(0, 0);
    border-bottom: 1px solid var(--dc);
}

.main_notice .content .ntc .itm .txt:hover::after {
    width: 100%;
    transition: 0.7s;
}

.main_notice .content .ntc li {
    height: 0;
    overflow: hidden;
}

.main_notice .content .ntc li.on {
    height: 100%;
}

.main_notice .content .ntc .itm span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--mc);
    padding: 0 0 0 4px;
}

.main_notice .content .ntc .itm strong {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 6px 8px 0 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.main_notice .content .ntc .date {
    display: flex;
    color: #999;
    align-items: center;
    padding: 4px 0 0 0;
}

.main_notice .content .ntc .date p {
    font-size: 14px;
}

.main_notice .content .ntc .date ._add {
    display: inline-block;
    font-size: 16px;
    color: #999;
}

.main_notice .content .ntc .list li a {
    display: block;
    margin: 0 0 16px 0;
}

.main_notice .content .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main_notice .content .right .img_box {
    position: relative;
}

.main_notice .content .right figcaption {
    color: var(--bg);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.main_notice .content .right .tit {
    position: absolute;
    top: 5%;
    left: 3%;

}

.main_notice .content .right .tit strong {
    font-size: 28px;
    font-weight: 700;
}

.main_notice .content .right .box01 .txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_notice .content .right .box02 .txt {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_notice .content .right .box01 .txt h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.main_notice .content .right .box01 .txt span {
    display: block;
    font-size: 18px;
    margin: 0 0 40px 0;
}

.main_notice .content .right .box01 .txt strong {
    font-weight: 800;
}

.main_notice .content .right .box02 .txt h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.main_notice .content .right .box02 .txt span {
    font-size: 28px;
}

.footer {
    background: var(--db);
    color: var(--bg);
    font-weight: 400;
}

.footer .content {
    padding: 0 0 30px 0;
}

.footer .content .top {
    border-bottom: 1px solid #adadad;
    margin: 0 0 30px 0;
}

.footer .content .top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .content .top .inner ul {
    display: flex;
    gap: 30px;
    padding: 16px 0;
}

.footer .content .top .inner ul span {
    color: var(--bb);
}


.footer .content .top .inner ul li~li {
    margin: 0 0 0 20px;
}

.footer .content .top .inner .btn {
    border: 1px solid var(--bg);
}

.footer .content .top .inner .btn a {
    display: inline-block;
    line-height: 1.6;
    padding: 0 8px;
}


.footer .content .bottom ul {
    display: flex;
    gap: 30px;
    margin: 0 0 28px 0;
}

.footer .content .bottom ul strong {
    font-weight: 600;
}

.footer .content .bottom ul span {
    color: var(--bb);
}

.footer .content .bottom .adr {
    display: flex;
    justify-content: space-between;

}

.footer .content .bottom .adr .left {
    color: #ddd;
}

.footer .content .bottom .adr .left address {
    margin: 0 0 8px 0;
}

.footer .content .bottom .adr .right {
    background: var(--bb);
    text-align: center;
    font-size: 14px;
}

.footer .content .bottom .adr .right a {
    display: inline-block;
    line-height: 12px;
}

.footer .content .bottom .adr .to_top {
    font-size: 12px;
    width: 40px;
    padding: 4px;
}

.footer .content .bottom .adr .to_top span {
    font-size: 20px;
}

@media (max-width:768px) {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .header .top_bar .banner {
        gap: 12px;
    }

    .header .top_bar .banner li~li::before {
        top: 5px;
        margin: 0 0 0 -7px;
        height: 50px;
    }

    .header .top_bar ._call01 {
        font-size: 24px;
        padding: 8px;
        margin: 0 8px 0 0;
    }

    .header .top_bar ._call02 {
        font-size: 24px;
        padding: 8px;
        margin: 0 8px 0 0;
    }

    .header .top_bar strong {
        font-size: 14px;
        line-height: 1.1;
    }

    .header .top_bar strong a {
        font-size: 22px;
    }

    .header .top_bar .banner li p {
        font-size: 12px;
        text-align: center;
    }

    .header .top_bar .close {
        font-size: 14px;
        text-align: center;
    }

    .header .top_bar .close span {
        vertical-align: 0;
        margin: 2px 0 0 0;
    }


    .header h1 {
        width: 200px;
    }

    .header .logo_area {
        height: 80px;
    }

    .header .logo_area .right {
        gap: 24px;
    }


    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background: linear-gradient(90deg, #f9f9f9 70%, #22222285 30%);
        opacity: 0;
        transition: 0.5s;

    }

    .header .gnb.on {
        left: 0;
        opacity: 1;
    }


    .header .gnb ul {
        flex-direction: column;
        padding: 150px 95px 0 15px;
    }

    .header .gnb .main_menu>li {
        padding: 8px 0;
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: 400;
        color: var(--db);
        border-bottom: 1px solid var(--db);
    }


    .header .gnb .main_menu>li a {
        line-height: 1;
        padding: 0 0 0 2px;
    }


    .header .gnb::after {
        content: "";
        display: none;
    }

    .header .gnb:hover::after {
        display: none;
    }

    .header .login_area {
        display: flex;
        gap: 8px;
    }

    .mobile_btn.on::before {
        content: "";
        position: fixed;
        top: 10%;
        right: 15%;
        width: 2px;
        height: 25px;
        transform: rotate(45deg);
        z-index: 1001;
        font-size: 24px;
        background: var(--bg);
    }

    .mobile_btn.on::after {
        content: "";
        position: fixed;
        top: 10%;
        right: 15%;
        width: 2px;
        height: 25px;
        transform: rotate(-45deg);
        z-index: 1001;
        font-size: 24px;
        background: var(--bg);
    }




    .side {
        display: none;
    }


    .main_visual {
        overflow: visible;
        height: 750px;
        background: url(../images/main.jpg) no-repeat center center/cover;

        display: flex;
        align-items: flex-end;
    }

    .main_visual .tit {
        top: 20%;
    }

    .main_visual .tit h2 {
        font-size: 40px;
    }

    .main_visual .tit p {
        font-size: 16px;
    }

    .main_visual .content {
        padding: 0;
        width: 100%;
    }

    .main_visual .content .tit {
        padding: 0 15px;
    }

    .main_visual .content .quick {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        height: auto;
        margin: 0 auto -8px auto;
        overflow: hidden;
        box-shadow: 0 4px 5px rgba(22, 22, 22, 0.3);
    }

    .main_visual .content .quick li {
        font-size: 18px;
        padding: 8px;
        height: auto;
        align-self: center;
        width: 100%;
        justify-content: center;
    }


    .main_visual .content .quick li:nth-child(5) {
        width: 200%;
    }

    .main_visual .content .quick li a {
        gap: 24px;
    }

    .main_visual .content .quick li:nth-child(2) a {
        gap: 12px;
    }

    .main_visual .content .quick li>a>span {
        font-size: 24px;
        line-height: 40px;
    }

    .main_slide {
        position: static;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 28px 36px;

    }

    .quick_slide .itm {
        position: relative;
        flex-direction: column;
        gap: 20px;
        padding: 2px 0;

    }

    .quick_slide .itm .box span {
        font-size: 36px;
        margin: 4px 12px 0 0;
    }

    .quick_slide .itm .box .txt strong {
        font-size: 18px;
        margin: 0 0 4px 0;
    }

    .quick_slide .itm .box .txt p {
        font-size: 14px;
        line-height: 1.2;
    }

    .main_slide .arrows {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 77%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: var(--bg);
        cursor: pointer;
    }

    .main_slide .arrows span {
        font-size: 36px;

        background: var(--bc);
        border-radius: 50%;
    }


    .main_slide .arrows .left {
        margin: 0 0 0 4px;
    }

    .main_slide .arrows .right {
        margin: 0 6px 0 0;
    }

    .main_content .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .main_content .itm .img_box {
        padding: 12px 12px 48px 12px;
    }

    .main_content .itm .img_box .txt {
        font-size: 24px;
        padding: 0 20px;
    }

    .main_content .itm .w_b .txt::before {
        display: none;
    }

    .main_content .itm .w_b .txt::after {
        display: none;
    }

    .main_content .itm .b_b .txt::before {
        display: none;
    }

    .main_content .itm .b_b .txt::after {
        display: none;
    }


    .main_notice .content {
        flex-direction: column;
    }

    .main_notice .content .news li a {
        padding: 12px 16px;
        font-size: 16px;
    }


    .main_notice .content .ntc .list {
        margin: 20px 16px 8px 16px;

    }

    .main_notice .content .ntc .itm strong {
        font-size: 16px;
    }


    .main_notice .content .ntc .date p {
        font-size: 12px;
    }

    .main_notice .content .right {
        gap: 16px;
    }

    .main_notice .content .right .tit strong {
        font-size: 20px;
    }

    .main_notice .content .right .box01 .txt h3 {
        font-size: 18px;
    }

    .main_notice .content .right .box01 .txt span {
        font-size: 16px;
        margin: 0 0 14px 0;
    }


    .main_notice .content .right .box01 .txt p {
        font-size: 14px;
    }

    .main_notice .content .right .box01 .txt strong {
        font-weight: 700;
    }

    .main_notice .content .right .box02 .txt h3 {
        font-size: 24px;
        font-weight: 700;
    }

    .main_notice .content .right .box02 .txt span {
        font-size: 18px;
    }

    .footer .content .top {
        margin: 0 0 20px 0;
    }

    .footer .content .top .inner {
        justify-content: right;
        align-items: flex-start;
    }

    .footer .content .top .inner ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin: 0 14px 0 0;

    }

    .footer .content .top .inner ul li~li {
        margin: 0;
    }

    .footer .content .top .inner .btn {
        font-size: 14px;
        align-self: center;
    }

    .footer .content .top .inner .btn a {
        line-height: 1.2;
        padding: 4px 8px;
        text-align: center;
    }


    .footer .content .bottom ul {
        display: flex;
        gap: 0;
        margin: 0 0 28px 0;
    }

    .footer .content .bottom ul li~li {
        margin: 0 0 0 14px;
    }

    .footer .content .bottom .adr .left {
        font-size: 12px;
    }

    .footer .content .bottom .adr .to_top {
        display: flex;
    }
}